.cm-s-default span.cm-keyword {font-weight: bold;  color: #708;}
.cm-s-default span.cm-atom {font-weight: bold;  color: #219;}
.cm-s-default span.cm-number {font-weight: bold;  color: #164;}
.cm-s-default span.cm-def {font-weight: bold;  color: #00f;}
.cm-s-default span.cm-variable {font-weight: bold;  color: black;}
.cm-s-default span.cm-variable-2 {font-weight: bold;  color: #05a;}
.cm-s-default span.cm-variable-3 {font-weight: bold;  color: #0a5;}
.cm-s-default span.cm-property {font-weight: bold;  color: black;}
.cm-s-default span.cm-operator {font-weight: bold;  color: black;}
.cm-s-default span.cm-comment {font-weight: bold;  color: #a50;}
.cm-s-default span.cm-string {font-weight: bold;  color: #a11;}
.cm-s-default span.cm-meta {font-weight: bold;  color: #555;}
.cm-s-default span.cm-error {font-weight: bold;  color: #f00;}
.cm-s-default span.cm-qualifier {font-weight: bold;  color: #555;}
.cm-s-default span.cm-builtin {font-weight: bold;  color: #30a;}
.cm-s-default span.cm-bracket {font-weight: bold;  color: #cc7;}
.cm-s-default span.cm-tag {font-weight: bold;  color: #170;}
.cm-s-default span.cm-attribute {font-weight: bold;  color: #00c;}
